<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srava.coviutproject" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormChoix"
            android:label="@string/title_activity_form_choix" >
        </activity>
        <activity
            android:name=".FormaddTrajet"
            android:label="@string/title_activity_formadd_trajet" >
        </activity>
        <activity
            android:name=".InscrireActivity"
            android:label="@string/title_activity_inscrire" >
        </activity>
        <activity
            android:name=".VoirTrajetActivity"
            android:label="@string/title_activity_voir_trajet" >

        </activity>
        <activity
            android:name=".VoirTrajet2"
            android:label="@string/title_activity_voir_trajet2" >
        </activity>
        <activity
            android:name=".VoirTrajet3"
            android:label="@string/title_activity_voir_trajet3" >
        </activity>
    </application>

</manifest>
